.footer {
  color: #212121;
  padding: 60px 80px;
  justify-items: center;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  font-family: poppin, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.7);
  margin: 0 auto;
}

@media screen and (max-width: 672px) {
  .footer {
    width: 100%;
    line-height: 16px;
    padding: 20px 0;
    margin: 0 auto;
    height: auto;
  }
}
